In [108]:
import yfinance as yf
import pandas as pd
sp500 = yf.Ticker('^GSPC')
sp500 = sp500.history(period='max')
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-02-28 00:00:00-05:00,5067.200195,5077.370117,5058.350098,5069.759766,3789370000,0.0,0.0
2024-02-29 00:00:00-05:00,5085.359863,5104.990234,5061.890137,5096.270020,5219740000,0.0,0.0
2024-03-01 00:00:00-05:00,5098.509766,5140.330078,5094.160156,5137.080078,4748110000,0.0,0.0
2024-03-04 00:00:00-05:00,5130.990234,5149.669922,5127.180176,5130.950195,4758440000,0.0,0.0
2024-03-05 00:00:00-05:00,5110.520020,5114.540039,5056.819824,5078.649902,4418410000,0.0,0.0

In [109]:
del sp500["Dividends"]
del sp500["Stock Splits"]
sp500

,Open,High,Low,Close,Volume
Date,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...
2024-02-28 00:00:00-05:00,5067.200195,5077.370117,5058.350098,5069.759766,3789370000
2024-02-29 00:00:00-05:00,5085.359863,5104.990234,5061.890137,5096.270020,5219740000
2024-03-01 00:00:00-05:00,5098.509766,5140.330078,5094.160156,5137.080078,4748110000
2024-03-04 00:00:00-05:00,5130.990234,5149.669922,5127.180176,5130.950195,4758440000
2024-03-05 00:00:00-05:00,5110.520020,5114.540039,5056.819824,5078.649902,4418410000

In [110]:
sp500["Tomorrow"] = sp500["Close"].shift(-1)
# 1 if the price goes up, 0 if it goes down
sp500["Target"] = (sp500["Tomorrow"] > sp500["Close"]).astype(int)
sp500 = sp500.loc["1990-01-01":].copy()
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target
Date,,,,,,,
1990-01-02 00:00:00-05:00,353.399994,359.690002,351.980011,359.690002,162070000,358.760010,0
1990-01-03 00:00:00-05:00,359.690002,360.589996,357.890015,358.760010,192330000,355.670013,0
1990-01-04 00:00:00-05:00,358.760010,358.760010,352.890015,355.670013,177000000,352.200012,0
1990-01-05 00:00:00-05:00,355.670013,355.670013,351.350006,352.200012,158530000,353.790009,1
1990-01-08 00:00:00-05:00,352.200012,354.239990,350.540009,353.790009,140110000,349.619995,0
...,...,...,...,...,...,...,...
2024-02-28 00:00:00-05:00,5067.200195,5077.370117,5058.350098,5069.759766,3789370000,5096.270020,1
2024-02-29 00:00:00-05:00,5085.359863,5104.990234,5061.890137,5096.270020,5219740000,5137.080078,1
2024-03-01 00:00:00-05:00,5098.509766,5140.330078,5094.160156,5137.080078,4748110000,5130.950195,0
2024-03-04 00:00:00-05:00,5130.990234,5149.669922,5127.180176,5130.950195,4758440000,5078.649902,0
2024-03-05 00:00:00-05:00,5110.520020,5114.540039,5056.819824,5078.649902,4418410000,NaN,0

In [111]:
# 使用随机森林模型 预测股票价格


from sklearn.ensemble import RandomForestClassifier
# 创建了一个随机森林分类器 100棵树，每棵树至少有100个样本 用于训练 1号种子
# model = RandomForestClassifier(n_estimators=100, min_samples_split=100, random_state=1)
# # model = RandomForestClassifier(n_estimators=200, min_samples_split=50, random_state=1)
# # 最近100交易日的数据用于测试
# # 用于训练的数据 除了最近100交易日的数据用于训练
# train = sp500.iloc[:-100]
# test = sp500.iloc[-100:]
# # 选取特征 用于训练
# predictors = ["Close", "Volume", "Open", "High", "Low"]
# model.fit(train[predictors], train["Target"])

In [112]:
from sklearn.metrics import precision_score

# preds = model.predict(test[predictors])
# preds = pd.Series(preds, index=test.index)
# precision_score(test["Target"], preds)
# preds

In [113]:
# combined = pd.concat([test["Target"], preds], axis=1)
# combined.plot()

In [114]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict(test[predictors])
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [115]:
def backtest(data, model, predictors, start=2500, step=250):
    all_predictions = []

    for i in range(start, data.shape[0], step):
        train = data.iloc[0:i].copy()
        test = data.iloc[i:(i+step)].copy()
        predictions = predict(train, test, predictors, model)
        all_predictions.append(predictions)
    
    return pd.concat(all_predictions)

In [116]:
# predictions = backtest(sp500, model, predictors)
# predictions.plot()

In [117]:
# 准确率
# precision_score(predictions["Target"], predictions["Predictions"])

In [118]:
horizons = [2,5,60,250,1000]
new_predictors = []

for horizon in horizons:
    rolling_averages = sp500.rolling(horizon).mean()
    
    ratio_column = f"Close_Ratio_{horizon}"
    sp500[ratio_column] = sp500["Close"] / rolling_averages["Close"]
    
    trend_column = f"Trend_{horizon}"
    sp500[trend_column] = sp500.shift(1).rolling(horizon).sum()["Target"]
    
    new_predictors+= [ratio_column, trend_column]
# new_predictors

In [119]:
sp500 = sp500.dropna(subset=sp500.columns[sp500.columns != "Tomorrow"])

In [120]:
sp500

,Open,High,Low,Close,Volume,Tomorrow,Target,Close_Ratio_2,Trend_2,Close_Ratio_5,Trend_5,Close_Ratio_60,Trend_60,Close_Ratio_250,Trend_250,Close_Ratio_1000,Trend_1000
Date,,,,,,,,,,,,,,,,,
1993-12-14 00:00:00-05:00,465.730011,466.119995,462.459991,463.059998,275050000,461.839996,0,0.997157,1.0,0.996617,1.0,1.000283,32.0,1.028047,127.0,1.176082,512.0
1993-12-15 00:00:00-05:00,463.059998,463.690002,461.839996,461.839996,331770000,463.339996,1,0.998681,0.0,0.995899,1.0,0.997329,32.0,1.025151,126.0,1.172676,512.0
1993-12-16 00:00:00-05:00,461.859985,463.980011,461.859985,463.339996,284620000,466.380005,1,1.001621,1.0,0.999495,2.0,1.000311,32.0,1.028274,127.0,1.176163,513.0
1993-12-17 00:00:00-05:00,463.339996,466.380005,463.339996,466.380005,363750000,465.850006,0,1.003270,2.0,1.004991,3.0,1.006561,32.0,1.034781,128.0,1.183537,514.0
1993-12-20 00:00:00-05:00,466.380005,466.899994,465.529999,465.850006,255900000,465.299988,0,0.999431,1.0,1.003784,2.0,1.005120,32.0,1.033359,128.0,1.181856,513.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-28 00:00:00-05:00,5067.200195,5077.370117,5058.350098,5069.759766,3789370000,5096.270020,1,0.999170,1.0,0.998248,3.0,1.049863,37.0,1.145666,141.0,1.255628,533.0
2024-02-29 00:00:00-05:00,5085.359863,5104.990234,5061.890137,5096.270020,5219740000,5137.080078,1,1.002608,1.0,1.003102,3.0,1.053529,37.0,1.150497,141.0,1.261502,533.0
2024-03-01 00:00:00-05:00,5098.509766,5140.330078,5094.160156,5137.080078,4748110000,5130.950195,0,1.003988,2.0,1.009217,3.0,1.059894,38.0,1.158568,141.0,1.270850,534.0
2024-03-04 00:00:00-05:00,5130.990234,5149.669922,5127.180176,5130.950195,4758440000,5078.649902,0,0.999403,1.0,1.005586,3.0,1.056581,38.0,1.156057,140.0,1.268502,534.0
2024-03-05 00:00:00-05:00,5110.520020,5114.540039,5056.819824,5078.649902,4418410000,NaN,0,0.994877,0.0,0.995318,2.0,1.043915,38.0,1.143148,140.0,1.254837,533.0

In [121]:
model = RandomForestClassifier(n_estimators=200, min_samples_split=50, random_state=1)

In [122]:
def predict(train, test, predictors, model):
    model.fit(train[predictors], train["Target"])
    preds = model.predict_proba(test[predictors])[:,1]
    preds[preds >=.6] = 1
    preds[preds <.6] = 0
    preds = pd.Series(preds, index=test.index, name="Predictions")
    combined = pd.concat([test["Target"], preds], axis=1)
    return combined

In [123]:
predictions = backtest(sp500, model, new_predictors)

In [124]:
precision_score(predictions["Target"], predictions["Predictions"])

0.5734939759036145

In [125]:
predictions

                           Target  Predictions
Date
2003-11-14 00:00:00-05:00       0          0.0
2003-11-17 00:00:00-05:00       0          1.0
2003-11-18 00:00:00-05:00       1          1.0
2003-11-19 00:00:00-05:00       0          0.0
2003-11-20 00:00:00-05:00       1          1.0
...                           ...          ...
2024-02-28 00:00:00-05:00       1          0.0
2024-02-29 00:00:00-05:00       1          0.0
2024-03-01 00:00:00-05:00       0          0.0
2024-03-04 00:00:00-05:00       0          0.0
2024-03-05 00:00:00-05:00       0          0.0

[5109 rows x 2 columns]

In [126]:
def features_next_10_days(data, predictors, model):
    future_dates = pd.date_range(start=data.index[-1] + pd.Timedelta(days=1), periods=10)
    future_predictions = []
    for future_date in future_dates:
        last_row = data.iloc[-1:][predictors].copy()
        prediction = model.predict_proba(last_row)[:, 1][0] >= 0.6
        future_predictions.append((future_date, prediction))
    return future_predictions

In [127]:
future_predictions = features_next_10_days(sp500, new_predictors, model)
future_predictions

[(Timestamp('2024-03-06 00:00:00-0500', tz='America/New_York'), False),
 (Timestamp('2024-03-07 00:00:00-0500', tz='America/New_York'), False),
 (Timestamp('2024-03-08 00:00:00-0500', tz='America/New_York'), False),
 (Timestamp('2024-03-09 00:00:00-0500', tz='America/New_York'), False),
 (Timestamp('2024-03-10 00:00:00-0500', tz='America/New_York'), False),
 (Timestamp('2024-03-11 00:00:00-0400', tz='America/New_York'), False),
 (Timestamp('2024-03-12 00:00:00-0400', tz='America/New_York'), False),
 (Timestamp('2024-03-13 00:00:00-0400', tz='America/New_York'), False),
 (Timestamp('2024-03-14 00:00:00-0400', tz='America/New_York'), False),
 (Timestamp('2024-03-15 00:00:00-0400', tz='America/New_York'), False)]